<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="world" class="entity.World">
        <property name="animal">
            <bean class="entity.Animal" init-method="init" destroy-method="destroy">
                <property name="name" value="Animal"/>
                <property name="age" value="14"/>
            </bean>
        </property>
    </bean>

</beans>