<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="rectangle" class="com.test.bu.entity.Rectangle">
        <constructor-arg name="lenght" value="5"/>
        <constructor-arg name="weight" value="5"/>
        <property name="type" value="RECTANGLE"/>
    </bean>

    <bean id="triangle" class="com.test.bu.entity.Triangle">
        <constructor-arg name="shape" ref="rectangle"/>
        <property name="side1" value="10"/>
        <property name="side2" value="10"/>
        <property name="side3" value="10"/>
        <property name="type" value="TRIANGLE"/>
    </bean>

    <bean id="circle" class="com.test.bu.entity.Circle">
        <constructor-arg name="shape1" ref="rectangle"/>
        <constructor-arg name="shape2" ref="triangle"/>
        <property name="radius" value="20"/>
        <property name="type" value="CIRCLE"/>
    </bean>

    <bean name="service1" class="com.test.bu.service.ServiceShape"/>

</beans>